/* Base
   ========================================================================== */
body {
  font: 13px "Droid Sans", sans-serif;
}

h2, h3 {
  font-family: "Aller", sans-serif;
  font-weight: bold;
}

h2 {
  margin-bottom: 0;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  color: #555;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* Layout
   ========================================================================== */
.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */
.navbar {
  margin-bottom: 50px;
  background-color: #3a3d40;
  border-bottom: 5px solid #4a4d50;
  -moz-box-shadow: 0 1px 0 black;
  -webkit-box-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
}
.navbar-brand {
  float: left;
  width: 89px;
  margin: 28px 0;
}
.navbar-brand a {
  display: block;
  width: 89px;
  height: 32px;
  background: url('../img/logo.png?1422681103') 0 0 no-repeat;
}
.navbar-nav {
  float: right;
}

.cycle-prev, .cycle-next {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 36px;
  margin-top: -18px;
  z-index: 999;
  cursor: pointer;
  background-repeat: no-repeat;
}

.cycle-prev {
  left: 20px;
  background-image: url('../img/arrow-left.png?1422679964');
}

.cycle-next {
  right: 20px;
  background-image: url('../img/arrow-right.png?1422679964');
}

.tabs {
  padding-bottom: 50px;
}
.tabs-thumbs {
  float: left;
  width: 400px;
}
.tabs-details {
  float: right;
  width: 530px;
  font-size: 13px;
  line-height: 22px;
  color: #555;
}
.tabs-details h3 {
  margin-top: 0;
  font-size: 17px;
}
.tabs-details p {
  margin-top: 0;
  margin-bottom: 20px;
}
.tabs-details ul li {
  position: relative;
  padding-left: 20px;
}
.tabs-details ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/check.png");
  color: blue;
}

.portfolio {
  padding: 26px 0 38px;
}

.blog-post {
  margin: 0 -20px;
  padding-bottom: 30px;
}
.blog-post .article {
  float: left;
  width: 460px;
  margin: 20px;
}
.blog-post .article .date {
  float: left;
  width: 55px;
  height: 55px;
  font-size: 22px;
  line-height: 36px;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ececec;
}
.blog-post .article .date small {
  display: block;
  font-size: 14px;
  line-height: 0;
}
.blog-post .article .summary {
  display: block;
  margin-left: 80px;
  color: #555;
}
.blog-post .article .summary:hover {
  color: #6b99b6;
}
.blog-post .article .summary h3 {
  margin-top: 0;
}
.blog-post .article .summary footer {
  font-size: 11px;
  color: #6b99b6;
}

.customers {
  padding-top: 26px;
}
.customers .lead {
  margin-bottom: 45px;
}

.footer {
  background-color: #3a3d40;
  border-top: 5px solid #2f3235;
}
.footer h3 {
  margin-top: 35px;
  margin-bottom: 25px;
  color: #e3e3e3;
}
.footer-links ul li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: url('../img/divider-light.png?1422694249') left bottom repeat-x;
}
.footer-links ul li:last-child {
  background-image: none;
}
.footer-links ul a {
  font-size: 13px;
  color: #bfbfbf;
}
.footer-links ul a:hover {
  color: #86acc4;
}
.footer .posts {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.footer .posts a {
  display: block;
  margin-bottom: 10px;
  line-height: 22px;
}
.footer .posts time {
  font-size: 11px;
  color: #899096;
}
.footer .tweets {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.footer .tweets li:before {
  content: url("../img/icon-twitter-gray.png");
  margin-right: 10px;
}
.footer .tweets a {
  line-height: 25px;
}
.footer .tweets a span {
  color: #86acc4;
}
.footer .about {
  float: left;
  width: 210px;
}
.footer .about p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 25px;
  color: #bfbfbf;
}
.footer .contact {
  float: right;
  width: 220px;
}
.footer-info {
  padding: 7px 0;
  background-color: #2f3235;
}
.footer-info .copyright {
  float: left;
  color: #bfbfbf;
  line-height: 25px;
}

/* Modules
   ========================================================================== */
/* Navigation */
.nav {
  margin: 0;
  overflow: hidden;
}
.nav__item {
  float: left;
}
.nav__item a {
  display: block;
  padding: 10px 20px 0;
  font: bold 12px "Aller", sans-serif;
  line-height: 78px;
  text-transform: uppercase;
  color: #d4d4d4;
  border-left: 1px solid #3a3d40;
  border-right: 1px solid #292c2d;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav__item a:hover {
  color: #86acc4;
}
.nav__item--current a {
  background-color: #35373a;
  color: #86acc4;
}
.nav__item:first-child {
  border-left: 1px solid #292c2d;
}

/* Tabs */
#tabs {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
#tabs:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 1px solid #dedede;
  content: '';
  z-index: -1;
}
#tabs li {
  display: inline-block;
  margin-left: -5px;
}
#tabs li a {
  display: inline-block;
  padding: 0 2em;
  font-family: "Aller", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  color: #555;
  background-color: #fff;
  border: 1px solid #dedede;
}
#tabs .selected {
  margin-bottom: -1px;
  color: #6b99b6;
  border-bottom: 1px solid #fff;
}

/* Gallery */
.gallery {
  margin: 0 -6px;
}
.gallery li {
  float: left;
  margin: 0 6px 12px;
  width: 312px;
}
.gallery li a {
  display: inline-block;
  width: 312px;
  height: 250px;
  overflow: hidden;
}
.gallery li a img {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery li a:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.clients {
  margin-bottom: 50px;
  text-align: justify;
}
.clients:after {
  display: inline-block;
  width: 100%;
  content: '';
}
.clients li {
  display: inline-block;
  width: 135px;
  vertical-align: middle;
}

.form-group {
  margin-bottom: 10px;
}
.form-control {
  width: 100%;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding: 5px 10px;
  font-size: 13px;
  color: #bfbfbf;
  border: 0;
  background-color: #282b2d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  background-color: #2f3335;
}
.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}
.form textarea {
  height: 140px;
  resize: none;
}
.form input[type="text"],
.form input[type="email"] {
  line-height: 25px;
  height: 35px;
}
.form input[type="submit"] {
  width: 110px;
  height: 29px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #2f3235;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Icons */
.icon-sprite, .icon-dribbble, .icon-facebook, .icon-linkedin, .icon-pinterest, .icon-rss, .icon-twitter {
  background-image: url('../img/icon-s8c1251e2cb.png');
  background-repeat: no-repeat;
}

.icon-dribbble {
  background-position: 0 0;
}

.icon-facebook {
  background-position: 0 -25px;
}

.icon-linkedin {
  background-position: 0 -50px;
}

.icon-pinterest {
  background-position: 0 -75px;
}

.icon-rss {
  background-position: 0 -100px;
}

.icon-twitter {
  background-position: 0 -125px;
}

.social-media {
  float: right;
  margin-right: -5px;
  overflow: hidden;
}
.social-media li {
  float: left;
  margin: 0 5px;
  background-image: none;
}
.social-media li a {
  display: block;
  width: 25px;
  height: 25px;
}

/* Utilities
   ========================================================================== */
/* Helper class */
.lead {
  font: lighter 20px/28px "Aller", sans-serif;
  text-align: center;
  color: #555;
}

.clearfix:before, .container:before, .tabs:before, .blog-post:before, .gallery:before, .clearfix:after, .container:after, .tabs:after, .blog-post:after, .gallery:after {
  display: table;
  content: '';
}
.clearfix:after, .container:after, .tabs:after, .blog-post:after, .gallery:after {
  clear: both;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.tabs-details ul, .footer-links ul, .nav, #tabs, .gallery, .clients, .social-media {
  padding-left: 0;
  list-style-type: none;
}

.divider {
  display: block;
  height: 3px;
  background: url('../img/divider.png?1422683738') repeat-x;
  border: 0;
}
