// General

body {
  font: 13px "Droid Sans", sans-serif;
}

h2, h3 {
  font-family: "Aller", sans-serif;
  font-weight: bold;
}

h2 {
  margin-bottom: 0;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  color: #555;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
