/* Helper class */

.lead {
  font: lighter 20px/28px "Aller", sans-serif;
  text-align: center;
  color: #555;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}


.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Lists

%list-unstyled {
  padding-left: 0;
  list-style-type: none;
}

// HR

.divider {
  display: block;
  height: 3px;
  background: image-url("divider.png") repeat-x;
  border: 0;
}
