Thumbs.db

.sass-cache/


bower_components/*

!bower_components/jquery
!bower_components/jquery-cycle2
!bower_components/normalize-css

bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js

bower_components/jquery-cycle2/*
!bower_components/jquery-cycle2/build
bower_components/jquery-cycle2/build/*
!bower_components/jquery-cycle2/build/jquery.cycle2.min.js

bower_components/normalize-css/*
!bower_components/normalize-css/normalize.css
